---
// src/layouts/BaseLayout.astro
import '../styles/globals.css'; // O teu Tailwind e animações
import Header from '../components/Header.astro'; // Importar Header
import Footer from '../components/Footer.astro'; // Importar Footer

// src/layouts/BaseLayout.astro
const { title, description, lang = 'en' } = Astro.props;

// O "Bilhete de Identidade" para IAs e Scrapers (JSON-LD)
const personSchema = {
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Joel Luis dos Santos",
  "jobTitle": "IT Support Technician & Software Engineer & Tech Enthusiast",
  "url": "https://teunome.dev",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Coimbra",
    "addressCountry": "PT"
  },
  "sameAs": [
    "https://github.com/Dossantosjoel7",
    "https://linkedin.com/in/joel-luís-dos-santos-0ba20b286",
    "https://dinq.me/dossantosjoel7"
  ]
};
---
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://meu-portfolio-dossantosjoel7.vercel.app/capa-portfolio.png" />
    <meta property="og:url" content="https://meu-portfolio-dossantosjoel7.vercel.app" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" rel="stylesheet"/>
    
    <script type="application/ld+json" set:html={JSON.stringify(personSchema)} />
  </head>
  
  <body class="bg-surface-main text-on-surface selection:bg-electric-blue/30 overflow-x-hidden flex flex-col min-h-screen">
    <Header lang={lang} />
    <main class="pt-32 hero-gradient flex-grow">
      <slot />
    </main>
    <Footer />
    <script>
      document.addEventListener('DOMContentLoaded', () => {
          const observerOptions = { threshold: 0.1 };
          const observer = new IntersectionObserver((entries) => {
              entries.forEach(entry => {
                  if (entry.isIntersecting) {
                      entry.target.classList.add('opacity-100', 'translate-y-0');
                      entry.target.classList.remove('opacity-0', 'translate-y-10');
                  }
              });
          }, observerOptions);

          document.querySelectorAll('section').forEach(section => {
              section.classList.add('transition-all', 'duration-1000', 'opacity-0', 'translate-y-10');
              observer.observe(section);
          });
      });
    </script>
    </body>
</html>